body {
    display: flex;
    background: #eee;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #eee;
    margin-right: 50px;
}

div.wrapper {
    display: flex;
    max-width: 600px;
    max-height: 600px;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: whitesmoke;
}

div.grid {
    display: flex;
    width: 16px;
    height: 16px;
    border: solid white 1px;
    background: none;
}

div.green {
    background: greenyellow;
    color: greenyellow;
    display: flex;
    width: 16px;
    height: 16px;
    border: solid 1px;
}

div.red {
    background: red;
    color: red;
    display: flex;
    width: 16px;
    height: 16px;
    border: solid 1px;
}

div.random {
    display: flex;
    width: 16px;
    height: 16px;
    border: solid 1px;
}


p.button, p.erase {
    display: flex;
    background: #335c56;
    color: white;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
}

p.button:hover, p.erase:hover {
    background: #20423d;
    color: rgb(182, 182, 182);
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 400px;
    max-height: 400px;
    background: whitesmoke;
    flex-direction: column;
    align-self: center;
    border: solid 1px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    gap: 5px;
}

p.green {
    background: greenyellow;
    color: black;
    border: solid 1px black;
    border-radius: 999999px;
    padding: 5px 15px;
    cursor: pointer;
    margin: 0;
}

p.green:hover {
    background: rgba(172, 255, 47, 0.493);
    color: black;
    border: solid 1px black;
    border-radius: 999999px;
    padding: 5px 15px;
}

p.red {
    background: rgb(255, 47, 47);
    color: black;
    border: solid 1px black;
    border-radius: 999999px;
    padding: 5px 15px;
    cursor: pointer;
    margin: 0;
}

p.red:hover {
    background: rgba(255, 47, 47, 0.493);
    color: black;
    border: solid 1px black;
    border-radius: 999999px;
    padding: 5px 15px;
}

p.random {
    background: rgb(0, 0, 0);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 999999px;
    padding: 5px 15px;
    cursor: pointer;
    margin: 0;
}

p.random:hover {
    background: rgb(61, 61, 61);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 999999px;
    padding: 5px 15px;
}

div.footerwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 100%;
    color: #636363;
}

div.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 100%;
    color: #636363;
    gap: 5px;
}

footer {
    margin-top: 50px;
}

div.footerwrap p, a {
    margin: 0;
}

span {
    color: red;
}

div.footerwrap a, div.socials a {
    text-decoration: none;
    color: #636363;
    font-weight: bolder;
}

div.footerwrap a:hover, div.socials a:hover {
    color: #333;
}

a.github, a.linkedIn, a.discord, a.mail {
    font-size: 16px;
    margin-top: 20px;
}

span.info {
    color: white;
}

p.info {
    text-align: center;
    font-size: 12px;
}

.r {
    color: red;
}

.a {
    color: rgb(255, 163, 178);
}

.i {
    color: rgb(94, 255, 0);
}

.n {
    color: rgb(252, 201, 106);
}

.b {
    color: rgb(255, 246, 125);
}

.o {
    color: turquoise;
}

.w {
    color: teal;
}

p.etch {
    font-weight: bold;
}